body {
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

h1 {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1km2eoy*_ga*MjQ1NTAzOTg2OS4xNjYwMjI5Mzc1*_ga_3LRZM6TM9L*MTY2MDU2NDI1Ni4xMC4xLjE2NjA1NjcxMzcuNTc') ;
    color: whitesmoke;
    width: 10px auto;
    height: 50px;
    padding: 20px 10px;
    margin: 10px 10px;
    text-align: center;
    font-size: 30px;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 9px rgba(198, 198, 198, 0.5);
}

h2 {
    color: gray;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 5px;
}

.price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

.item {
    color: rgb(130, 160, 160);
    padding-left: 20px;
    background-color: aliceblue;
    text-align: center;
    border: 2em;
    border-radius: 2rem;
    padding: 10px 10px;
    margin: 20px 20px;
    box-shadow: 8px 8px 9px rgba(198, 198, 198, 0.5);
    position: sticky;
    
}

img {
    border-radius: 5rem;
    box-shadow: 8px 8px 9px rgba(198, 198, 198, 0.5);
}